.pill{
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    
    text-align: center;
    color: white;
    justify-content: center;
    display: inline-block;

    font-size: 12px;
    font-weight:500;

    // background-color: rgb(100, 100, 38);
    border-radius: 25px;
}