.tracklist-container{
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: var(--white);

    .tracklist-list{
        display:flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 120px;
        overflow: auto;
    }

    .tracklist-details{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    ::-webkit-scrollbar{
        width: 0;
    }
}
