.track-details-container{
    width: 25vw;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    color: black;
    background-color: var(--white);
    border-left: 1px solid rgba(128, 128, 128, 0.226);

    .track-details-header{
        margin-bottom: 10px;
        display: flex;

        .img-col{
            .item-img{
                max-width:180px;
            }
        }

    }

    .info-col{
        padding-bottom: 20px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        .track-title-container{
            margin-bottom: 5px;

            .title{
                font-size: 30px;
                margin-bottom: -5px;
                font-weight: 500;
            }
            .artist{
                font-size: 20px;
            }
        }

        .track-credits{
            font-size: 20px;
        }

        .track-credits-subtitle{
            color: var(--darkblue);
            font-weight: 500;
            font-size: 15px;
            margin-bottom: -5px;
        }

    }

    .pills-col{
        
        display: flex;
        flex-direction: column;

        .pills-title{
            font-size: 15px;
            font-weight: 500;
            color: var(--darkblue);
        }

        .genre-pills-container{
            margin-bottom: 8px;
        }

        .pills-container{
            font-size: 10px !important;
        }

    }

    .track-details-description{
        margin-top: 15px;
        white-space: pre-line;
        padding-bottom: 100px;
    }
    
}

