.track-details-container{
    width: 30vw;
    max-height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

    color: white;

    border-radius: 25px;
    background-color: var(--blackFaded);

    .track-details-header{

        display: flex;
        margin-bottom: 20px;

        .img-col{
            .item-img{
                max-width:200px;
                border-radius: 20px;
            }
        }
    
        .info-col{
            margin-left: 30px;
            padding-bottom: 20px;
    
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: white;
    
            .track-title-container{
                margin-bottom: 10px;
    
                .title{
                    font-size: 50px;
                    margin-bottom: -3px;
                }
                .artist{
                    font-size: 20px;
                }
            }
    
            .track-credits{
                font-size: 15px;
            }
        }
    }

    .pills-col{
        
        display: flex;
        flex-direction: column;

        .pills-title{
            margin-right: 10px;
            font-size: 20px;
            color: white;
        }

        .genre-pills-container{
            margin-bottom: 8px;
        }

    }

    .track-details-description{
        margin-top: 15px;
        overflow-y: scroll;
        scrollbar-width: none;
        white-space: pre-line;
        
        ::-webkit-scrollbar{
            background: rgb(50, 194, 14);
        }
    }
    
}

