.app-search-bar{
    height: 60px;

    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);;

    .btn{
        text-align: center;
        font-weight: 700;
    }
    
    .query{
        padding-left: 25px;
        flex-grow: 4;

        font-weight: 400;
        border: none;
        outline: none;
        color: var(--darkblue);
    }


}