.sidebar-container{
    height: 100%;
    width: 14vw;

    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);

    .sidebar-filter-title{
        padding: 10px;
        font-size: 20px;
        color: var(--white);
    }

    .filter-options{
        display: flex;
        flex-direction: column;
    }
    
}