.sidebar-container{
    max-height: 100%;
    width: 250px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    background-color: var(--white);

    .sidebar-title{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .sidebar-filters-container{
        overflow: auto;        
    }

    .sidebar-filter-title{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
        padding-left: 1px;
        color: var(--blue);
        background-color: white;
        border: none;
    }

    .filter-options{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    ::-webkit-scrollbar{
        width: 0;
    }
    
}