:root{
    --primary: #ffffff;
    --secondary: #f3f3f3;
    --orange: #FCA311;
    --black: #000000;

    --textColor: black;

    --primaryFaded: #14213d6e;
    --secondaryFaded: #e5e5e5b4;
    --blackFaded: #0000003a;

    --detailsBgFaded: #14213de8;

    background-color: var(--primary);
}

.application-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding: 10px; */

    background-color: var(--primary);
}