:root{
    --white: #ffffff;
    --grey: #f3f3f3;
    --orange: #EF8354;
    --darkblue: #2D3142;
    --blue: #4F5D75;

    --textColor: black;

    background-color: var(--white);
}

.application-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    /* padding: 10px; */

    background-color: var(--white);
}