:root{
    --primary: #14213D;
    --secondary: #E5E5E5;
    --orange: #FCA311;
    --black: #000000;

    background-color: var(--primary);
}

.application-container{
    background-color: var(--primary);
}